@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  background: var(--bg-main);
  text-align: center;
  color: var(--dark-font);
}

:root {
  --bg-main: #ede8e3;
  --light-font: #f4f3f6;
  --dark-font: #060710;
  --primary: #31cd63;
  --secondary: #45c486;
  --tertiary: #936e38;
  --gray: #747475;
}
